<h1>Catalogo de Productos</h1>

<div id="printeable" class="container">

    {{#each products}}
    <div class="row">
        <div class="product">
            <div class="img-container">
                <img src="{{image}}">
            </div>
            <div class="product-info">
                <div class="product-content">
                    <h1>{{name}}</h1>
                    <p>{{description}}</p>
                    <!--<ul>
                        <li>Lorem ipsum dolor sit ametconsectetu.</li>
                        <li>adipisicing elit dlanditiis quis ip.</li>
                        <li>lorem sde glanditiis dars fao.</li>
                        </ul>-->
                    <div class="buttons">
                        <!--<a class="button buy" href="#">Buy</a>
                        <a class="button add" href="#">Add to Cart</a>-->
                        <span class="button" id="price">${{sale_price}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card-body">
        <h5 class="card-title">No Hay Productos para mostrar</h5>
    </div>
    {{/each}}

</div>